

.app{
    min-height: 600px;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 2.5em;
}

p.creator{
    font-weight: bold;
    font-size:calc(10px + 1.5vh) ;
    
}

.fa-arrow-down, .fa-arrow-up{
    margin-left: 5px;
    margin-right: 5px;
}

.time{
    margin: 10px;
}

.btn{
    background-color: #FFB703;
    color: #023047;
    border: 1px solid #219EBC;
}

.btn:hover{
    background-color: #FB8500;
    color: white;
}

.display{
    border: 4px solid #FFB703;
    border-radius: 30px;
}

.display-component, .preference-component{
    font-size: 1.8rem;
}

.countdown{
    font-size: 2.3rem;
}

.col-sm-3{
    min-width: 220px;
}
